body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.layout {
  display: flex;
}

.header__global {
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: 600;
  height: 100px;
}
