.display-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.display-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
