main {
  padding-left: 100px;
  margin-top: 2rem;
  margin-left: 4rem;
  width: 100%;
}
.container {
  max-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
}

.daily-activity-chart {
  background-color: #fbfbfb;
  height: 50%;
}
// .objective-score-chart {
//   background-color: #fbfbfb;
// }
.charts__flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  height: 50%;
  div {
    width: 30%;
  }
}
