.logo-container img {
  width: 178px;
  height: 61px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-right: 4rem;
  a {
    text-decoration: none;
    color: white;
  }
}

.header__global {
  position: relative;
  top: 0; // Positionne la navbar en haut
  left: 0; // Alignée à gauche
  right: 0; // Et à droite pour s'étendre sur toute la largeur
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 600;
  height: 100px;
}
