.card__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  width: 12rem;
  margin-top: 0;
  background-color: #fbfbfb;
  border-radius: 5px;
  padding: 1.5rem 2.5rem 1.5rem 0.5rem;
  @media screen and (max-width: 1025px) {
    width: 100%;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}

.card__icon {
  padding: 1rem;
  border-radius: 5px;
}

.card__icon--img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
}
.card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0rem;
  width: 4rem;
}

.card__value {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.card__title {
  margin-top: 0.25rem;
  margin-bottom: 0;
}
